/* div {
  padding: 5rem;

  justify-content: center;
}

input {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 400px;
} */
.body{
  background-image: url("./components/BG.jpg");
  height: 47.3rem;
  
  background-size:cover;
}

/* Login Page CSS */

.login-form {
  padding-top: 4rem;
  text-align: left;
 
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #011a36; */
  backdrop-filter: blur(3px) brightness(70%);
  border: #05161a solid 1px;
  height: 600px;
  width: 400px;
  border-radius: 15px;
  margin-left: 35%;
}
.Link {
  text-decoration: none;
}
.login .head {
  color: #ffffff;
  margin-bottom: 100px;
}

.login label {
  padding: 0.5rem 0;
  color: #ffffff;
  font-size: 1.5rem;
}

.login input {
  margin: 0.5rem .3rem;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
}

.btn {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  background-color: #fdc800;
  border: none;
  border-radius: 10px;
  color: #002147;
  padding: .8rem;
  width: 250px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #002147;
  color: white;
  box-shadow: 0 15px 16px 0 rgba(20, 20, 20, 0.34),
    0 17px 50px 0 rgba(17, 17, 17, 0.19);
}



/* SignUp Page CSS */

.body{
  background-image: url("./components/BG.jpg");
  height: 47.3rem;
  background-size:cover;
}

.register {
  padding-top: 4rem;
  text-align: left;

}

.register .head {
  font-family: "poppins", sans-serif;
  color: #fff;
  font-size: 2em;
  margin-bottom: 50px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #011a36; */
  backdrop-filter: blur(6px) brightness(70%);
  border: #05161a solid 1px;
  border-radius: 15px;
  height: 670px;
  width: 700px;
  margin-left: 25%;
}
.register-form .inputDetails{
  display: flex;
  padding-inline: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.register-form label {
  font-weight: bold;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.register-form input {
  margin: 0.7rem .5rem;
  padding: .7rem;
  border: none;
  border-radius: 10px;
}

.link-to-register {
  color: #fff;
  text-decoration: none;
}

.btn2 {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  background-color: #fdc800;
  border: none;
  border-radius: 10px;
  color: #002147;
  padding: .8rem;
  width: 250px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}

.btn2:hover {
  background-color: #002147;
  color: white;
  box-shadow: 0 15px 16px 0 rgba(20, 20, 20, 0.34),
    0 17px 50px 0 rgba(17, 17, 17, 0.19);
}
.date label{
  font-size: 1rem;
  font-weight: 500;
}
.table {
  justify-content: start;
  align-items: start;
}

.foot{
  margin: 15px;
}
.foot a {
  padding: 10px 14px;
  margin: 5px 8px; 
height: 40px;
width: 40px;
border-radius: 40px;
text-align: center;
line-height: 40px;
color: #000;
font-size: 18px;
margin-bottom: 15px;
}

.foot a:nth-child(1){
  background: #fff;
}
.foot a:nth-child(1):hover{
  color: #fff;
  background-color: #000;
}
.foot a:nth-child(2){
  background: #0077B5;
  color: #fff;
}
.foot a:nth-child(2):hover{
  color: #0077B5;
  background-color: #fff;
}
.foot a:nth-child(3){
  background: #E1306C; 
}
.foot a:nth-child(3):hover{
  color: #E1306C; 
  background-color: #fff;
}


@media( max-width : 750px) {

  /* Login Page CSS */

  .body{
    background-image: url("./components/BG.jpg");
    height: 47.3rem;
    
    background-size:contain;
  }  

.login-form {
  padding-top: 4rem;
  text-align: left;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #011a36; */
  backdrop-filter: blur(3px);

  height: 550px;
  width: 300px;
  border-radius: 15px;
  margin-left: 1rem;
}
.Link {
  text-decoration: none;
}
.login .head {
  color: #ffffff;
  margin-bottom: 30px;
}

.login label {
  margin: 10px;
  color: #ffffff;
}

.login input {
  margin: 0.2rem 0;
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
}

.btn {
  margin-top: 40px;
  display: flex;
  background-color: #fdc800;
  border: none;
  border-radius: 10px;
  color: #002147;
  padding: .8rem;
  width: 250px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #002147;
  color: white;
  box-shadow: 0 15px 16px 0 rgba(20, 20, 20, 0.34),
    0 17px 50px 0 rgba(17, 17, 17, 0.19);
}



/* SignUp Page CSS */



.register {
  padding-top: 4rem;
  text-align: left;

}

.register .head {
  font-family: "poppins", sans-serif;
  color: #ffffff;
  font-size: 1.7em;
  margin-bottom: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #011a36; */
  backdrop-filter: blur(3px);
  border-radius: 15px;
  height: 550px;
  width: 300px;
  margin-left: 1rem;
}

.register-form label {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;

  padding: 0.5rem 0;
}

.register-form input {
  margin: 0.5rem .3rem;
  padding: .7rem;
  border: none;
  border-radius: 10px;
}

.link-to-register {
  color: #ffffff;
  text-decoration: none;
}

.btn2 {
  margin-top: 40px;
  display: flex;
  background-color: #fdc800;
  border: none;
  border-radius: 10px;
  color: #002147;
  padding: .7rem;
  width: 250px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}

.btn2:hover {
  background-color: #002147;
  color: white;
  box-shadow: 0 15px 16px 0 rgba(20, 20, 20, 0.34),
    0 17px 50px 0 rgba(17, 17, 17, 0.19);
}

.table {
  justify-content: start;
  align-items: start;
}

}